SECRET_KEY=change-me-to-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

postgresql=False

DB_NAME=cozybooking
DB_USER=cozy
DB_PASSWORD=cozy_password
DB_HOST=db
DB_PORT=5432

TESTING=True